# Ignore competition data
data/
nfl-big-data-bowl-2026-prediction/

# Kaggle / Jupyter junk
*.ipynb_checkpoints
__pycache__/
*.pyc

# MacOS junk
.DS_Store

# Model artifacts
*.h5
*.pt
*.pkl
*.joblib
.DS_Store
data/
.DS_Store
__pycache__/
*.ipynb_checkpoints/
